@import '../../main-css//variables.scss';

.logo 
{
    width: 45%;
    animation: moveInLeft 1s ease-in;
}
.login-register
{
    display: inline-block;
}

.main-div {
    width: 71% !important;
}
header
{
    background-color: #ecf0f3;
}
.navbar-nav
{
  
    
    ul {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    ul li
    {
        display: inline-block;
    
    }  
    ul li a
    {
        font-family: $nav-font;
    }  
    ul li a::after
    {
        font-family: $nav-font;
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #6fc5ba;
        transition: width .3s;
    }  
}

.navbar-nav ul li a:hover::after
{
    width: 100%;
    transition: width .3s; 
}

.modal-title {
    width: 100%;
}
.user-input
{
    border:none;
}

.border {
    width: 94%;
    bottom: 13px;
    position: relative;
    margin: 0 auto;
}
.modal-header
{
    border-bottom: none !important;
}
.modal-content
{
    width: 80%;
    margin: 0 auto;
}
.sign-in-header
{
    text-align: center;
}
.signin
{
    margin: 0 38%;
}

.user-inputs {
    width: 100%;
    letter-spacing: 1px;
    font-size: 13px;
    margin: 3% auto;
    padding-left: 4%;
    background-color: #fff !important;
    border: none;
}

.floating-label-group {
	position: relative;
	margin-top: 15px;
	margin-bottom: 25px;

	.floating-label {
		font-size: 13px;
		color: #cccccc;
		position: absolute;
		pointer-events: none;
		top: 9px;
		left: 12px;
		transition: all 0.1s ease;
	}

	input:focus ~ .floating-label,
	input:not(:focus):valid ~ .floating-label {
	    top: -15px;
    bottom: 0px;
    left: 15px;
    border-color: #fff;
    font-size: 11px;
    opacity: 1;
    color: gray;
	}
}
.sidenav---sidenav-toggle---1KRjR
{
    padding-left: 5%;
}
.fa-eye {
    position: relative;
    bottom: 37px;
    cursor: pointer;
    left: 88%;
}
.facebook-btns {
    text-align: center;
    margin-top: 5%;
    position: relative;
    left: 3%;
}
.mr-md-3{
     margin-right:none!important
}
.facebook-btn i
{
    font-size: 43px;
}

.fa-auth
{
     .kep-login-facebook {
        font-family: Helvetica,sans-serif;
        font-weight: 700;
        -webkit-font-smoothing: antialiased;
        color: #fff;
        position: relative;
        left: 0%;
        cursor: pointer;
        display: inline-block;
        font-size: 0px !important;
        text-decoration: none;
        text-transform: uppercase;
        transition: background-color .3s,border-color .3s;
        border: none !important;
        padding: none !important;
        height: 40px;
        bottom: 66px;
        z-index: 1;
        margin: 0 auto;
        background-repeat: no-repeat;
        opacity: 0;
    }

}
.facebook-btn
{
    text-align: center;
}
.sign-in-header {
    text-align: right;
    width: 69%;
}
.sign-in-header h1 {
    font-size: 1.3em;
}
.modal-header .close {
    margin: -3px -1rem -1rem auto;
}
.auth-login
{
    text-align: center;
    margin-top: 8%;
    color:#4f4f4f;
}
.signin-logo
{
    text-align: center;
}
.login-btn
{
    text-align: center;
}

#logout-link{
    color: white;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.primary-btn{
    color: #fff;
    background-color: #105f9c;
    border-color: #105f9c;
}

.primary-btn:hover {
    background-color: #3c83bbb5;
    border-color: #3c83bbb5;
}
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color:none !important;
    border-color: none!important;
}
.btn-success:focus
{
    background-color: #105f9c;
    border-color: #105f9c;
    box-shadow: 0 0 0 0.2rem #105f9c81;
}
.btn-login {
    width: 75%;
    margin-top: 5%;
    border-radius: 30px;  
    padding-top: 10px;
    border-color: #fff;
    cursor: pointer;

    transition: background-color 3s;
}
.btn-login:hover
{
    background: -webkit-linear-gradient(right, #21d4fd, #5ba497, #21d4fd, #5ba497);
    border-color: #fff;
}
.faild-user-msg {
    width: 100%;
    position: relative;
    text-align: center;
    /* margin: 0 auto; */
    bottom: 1px;
}
.modal-header .close:hover
{
    
    animation:spin 4s ease;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem); }
    80% {
      transform: translateX(1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
  