@import '../../main-css//variables.scss';
.logo 
{
    width: 50%;
    animation: moveInLeft 1s ease-in;
}
.login-register
{
    display: inline-block;
}

.main-div {
    width: 68% !important;
}
.navbar-nav
{
  
    
    ul {
        text-align: center;
       
        margin: 0;
    }
    ul li
    {
        display: inline-block;
        padding-left: 20px;
        text-align: center;
    }  
    ul li a
    {
        font-family: $nav-font;
    }  
    
}
.modal-title {
    width: 100%;
}
.user-input
{
    border:none;
}

.border
{
    width: 94%;
    bottom: 18px;
    position: relative;
    margin: 0 auto;
}

.modal-header
{
    border-bottom: none !important;
}
.modal-content
{
    width: 80%;
    margin: 0 auto;
}
.sign-in-header
{
    text-align: center;
}
.signin
{
    margin: 0 38%;
}

.form-control {
    width: 100%;
    margin: 5% auto;
    padding-left: 7%;
}


.auth-login
{
    text-align: center;
    margin-top: 8%;
    color:#4f4f4f;
}
.btn-login
{
    width: 75%;
    border-radius: 30px;
}
.signin-logo
{
    text-align: center;
}
.login-btn
{
    text-align: center;
}
#logout-link{
    color: white;
}

@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem); }
    80% {
      transform: translateX(1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
  