.article-li {
    padding: 3%;
    list-style-type: none;
}

.drop-shadow-hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#user-articles-heading {
    margin: 3% auto;
    width: 50%;
    text-align: center;
}