@import "../../main-css/variables.scss";
.profile-2 {
    margin-top: 5%;
    box-shadow: 0px 15px 23px -6px rgba(0, 0, 0, 0.75);
    width: 100%;
    padding-bottom: 2%;
    .profile-nav {
        background-color: #3781747c;
        box-shadow: 0px 15px 23px -17px rgba(0, 0, 0, 0.75);
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        .navbar-brand {
            color: rgba(0, 0, 0, .9);
            margin-left: 7%;
            margin: 0 auto;
        }
    }
    .profile {
        height: 100%;
        margin-bottom: 3%;
        margin-top: 3%;
        display: flex;
        background-color: #3781732c;
        justify-content: center;
        box-shadow: 0px 15px 23px -17px rgba(0, 0, 0, 0.75);
        ul {
            list-style: none;
        }
        .edit-container {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .img-container {
                display: inline-block;
                position: relative;
                overflow: hidden;
                border: 6px solid #3781747c;
                margin: 3%;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                box-shadow: 0px 15px 23px -17px rgba(0, 0, 0, 0.75);
                .profile-img {
                    width: 100%;
                    height: auto;
                    float: left;
                }
                .img-container .col {
                    text-align: center;
                }
            }
            .edit-btn {
                width: 35%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin-bottom: 5%;
            }
        }
        .profile-data {
            width: 37%;
            text-align: left;
            display: inline-block;
            margin-bottom: 8%;
            margin-top: 6%;
        }
    }
    .review-btn2 {
        color: #4681377c;
        text-align: center;
    }
}