.user-posts
{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    bottom: 100px;
    align-items: center;
}
.toast
{
    max-width: none !important;
}

.toast:not(:last-child) {
    margin-bottom: 4.75rem;
}

.post-box
{
    width: 50% !important;
}
.head-post
{
    width: 100%;
}
// #post-form
// {
//     margin: 19%;
//     background-color: #6fc5ba;
//     border: 1px solid #6fc5ba;
//     height: 355px;
//     border-radius: 30px;
//     // clip-path: polygon(0% 0%, 100% 0%, 100% 59%, 36% 59%, 21% 76%, 20% 58%, 0 57%);
// }
.Post-button {
    float: right;
    width: 25%;
    text-align: right;
}


.MuiTypography-root 
{
    color: black;
}
.react-datetime-picker__wrapper {
   
    border: thin solid #000 !important;
    padding: 3px;
}
#form-footer 
{
span
{
    color: black;
    padding-right:20px;
}
}
.Messge-title label
{
    font-size: 40px;
    line-height: 70px;
    font-weight: 700;
    text-transform: uppercase;
}
#post-form label
{
    text-align: center;
}
.Messge-title
{
    text-align: center;
}
#toggel-btns
{
    text-align: center;
    margin-bottom: 5%;
}
.toggles 
{
    margin: 5px;
}

.toast-header
{
    justify-content: space-between;
}
.delete-btn
{
    margin-top: 2%;
}


.Post-button {
  float: right;
  width: 48%;
  margin-top: 9%;
  text-align: right;
}
#post-btn
{
  position: absolute;
    right: 10%;
}
.Post-button {
  float: right;
  width: 37%;
  margin-top: 9%;
  text-align: right;
}
#form-footer span {
  color: black;
  padding-right: 15px;
}
#post-card
{
  width: 55% !important;
  margin: 4% auto;
  padding: 0% 5%;
}