.contain {
    border: 1px solid gray;
    border-radius: 3px;
    margin: 0 auto;
    width: 50%;
    padding: 1%;
    p {
        padding-bottom: 5%;
    }
}

.mb-3 {
    #btn-ass {
        margin: 0 auto;
    }
}

.custom-control-inline {
    position: relative;
    margin: 2% 1rem 2% 2%;
    border: 1px solid #f3f3f3;
    padding: 15px 4%;
    display: block;
    width: 50%;
    text-align: left;
    margin: 2% auto;
}

.test-header {
    margin-top: 3%;
}

.makeStyles-root-1 {
    width: 55% !important;
    margin: 0 auto;
}

.test-header h1 {
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 45px;
    color: #212121;
    margin-bottom: 2rem;
}