#reg-cont {
    max-width: 1000px;
}

.signup {
    height: 100%;
    border-radius: 4px;
    margin: 6% auto;
    border: 1px solid #f3f3f3;
    background-color: #ffffff;
}

.form-control {
    width: 100%;
    margin: 3% auto;
    padding-left: 7%;
}

.form-label {
    color: #000000;
}

.facebook-btn img {
    margin-right: 9%;
    position: relative;
    bottom: 16px;
}

.register-user-msg {
    text-align: center;
}

.kep-login-facebook {
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    position: relative;
    left: 9%;
    cursor: pointer;
    display: inline-block;
    font-size: 0px !important;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .3s, border-color .3s;
    border: none !important;
    padding: none !important;
    height: 100px;
    bottom: 13px;
    z-index: 1;
    margin: 0 auto;
    background-repeat: no-repeat;
    opacity: 0;
}

.signup-header {
    background-image: linear-gradient(to bottom, rgba(9, 9, 125, 0.52), rgba(0, 212, 255, 0.5)), url('../../assets/images/chat_form.svg');
    background-size: 100% 100%;
    background-color: average( rgba(228, 225, 219, 1), red);
    height: 46rem;
    border-radius: 2px 0px 0px 6px;
}

#profile-label {
    margin-top: 5%;
}

// .MuiButton-containedPrimary{
//     margin-top: 15% !important;
// }
.MuiButton-label {
    color: #ffffff;
}

.signup-form-elements {
    padding: 2%;
}

.sign-section {
    text-align: center;
}

.user-msg {
    width: 47.5%;
    position: relative;
    text-align: center;
    margin: 0 auto;
    bottom: 77px;
}

.log-fb {
    margin-top: 2%;
}

.facebook {
    margin-top: 20%;
    margin-left: 53%;
    border: 1px gray solid;
    width: 35%;
    display: flex;
    justify-self: flex-end;
    flex-direction: row;
    padding: 5%;
}

.MuiFormLabel-root {
    font-size: 13px;
}

.image-upload {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8%;
    justify-content: space-between;
    width: 113%;
}

form.signup-profile-label {
    box-shadow: 1px 4px 7px;
    height: 46rem;
}
