.fa.fa-user-circle-o, .fa.fa-bookmark, .fa.fa-comment {
    font-size: 1.75em;
}

nav.sidenav---sidenav---_2tBP.sidenav---collapsed---LQDEv {
    height: 100%;
    padding: 1% 2% 3% 15%;
}

.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL {
    padding: 1% 2% 3% 15%;
    height: 100%;
    min-width: 190px;
}
.sidenav---navtext---1AE_f .label a
{
    text-decoration: none;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- {
    clear: both;
    position: relative;
    margin-bottom: 20%;
}


.sidenav---sidenav---_2tBP {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1006;
    min-width: 106px;
    background-color: #343a40;
    transition: min-width 0.2s;
}

.sidenav---sidenav-nav---3tvij {
    margin-top: 2em;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo > *, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f > * {
    color: aqua;
}

.icon > a {
    color: aqua;
}

.icon > a:hover {
    color: whitesmoke;
}

span {
    color: darkgrey;
}
