.fa.fa-user-circle-o, .fa.fa-bookmark, .fa.fa-star {
    font-size: 1.75em;
}

nav.sidenav---sidenav---_2tBP.sidenav---collapsed---LQDEv {
    min-width: 77px;
    padding-left: 0;
    padding-right: 0.5em;
}

.sidenav---sidenav---_2tBP {
    // bottom: 5%;
    background-color: #343a40;
}

.sidenav---sidenav-nav---3tvij {
    margin-top: 4em;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo > *, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f > * {
    color: aqua;
}

.icon > a {
    color: aqua;
}

.icon > a:hover {
    color: whitesmoke;
}

span {
    color: darkgrey;
}