
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    .website-introduction h1 {
     
        font-size: 60px;
    }
    .full-footer {
        display: flex;
        justify-content: flex-start;
    }
    .footer-nav {
        margin-top: 3%;
        text-align: left;
    }
    .talkitover-intro-title h3
    {
        text-align: center;
    }
    .overcome-card
    {
        height: 21rem;
    }
    .talkitover-intro-image img
    {
width: 100%;
text-align: center;
    }
    
  }
  @media (min-width: 481px) and (max-width: 767px) {
    .talkitover-intro-title h3
    {
        text-align: center;
    }
    .talkitover-intro-image
    {
text-align: center;
    }
    .footer-nav ul li a
{
    margin-bottom: 20;
}
    .talkitover-intro-description
    {
        margin: 3%;
        text-align: center;
    }
    .talkitover-intro-image img
    {
text-align: center;
    }
    .overcome-card
    {
        width: 14rem;
        height: 18rem;
        text-align: center;
    }
    .website-introduction
    {
        display: none;
    }
    .footer-nav {
        margin-top: 1%;
        text-align: left;
    }
    .hero-slider    {
        clip-path: none !important;
    }
    .container
    {
        max-width: 767px;
    }
    .full-footer {
        display: flex;
        justify-content: flex-start;
    }
    .footer ul li
    {
        margin-bottom: 30%;
    }
    .user-image img {
        width: 50px;
        height: 50px;
    }
  }
  @media (min-width: 120px) and (max-width: 480px) {
    .talkitover-intro-title h3
    {
        text-align: center;
    }
    .user-image img {
        width: 30px;
        height: 30px;
    }
    .testmonial-card {
        height: 300px;
        
    }
    .testominal-slider .card-text {
        text-align: center;
        padding-top: 6%;
        font-size: 11px;
    }
    .website-introduction
    {
        display: none;
    }
    .talkitover-intro-image img
    {
width: 100%;
text-align: center;
    }
    .hero-slider    {
        clip-path: none !important;
    }
    .container
    {
        max-width: 767px;
    }
    .full-footer {
        display: flex;
        justify-content: flex-start;
        padding: 0;
    }
    .footer-nav {
        margin-top: 3%;
        text-align: left;
    }
    footer ul {
        li
    
        {
            margin-bottom: 20%;
        }
    }
  }

 