// color scheme
$color1: #5ba497;
$color2: #6fc5ba;
$color3: green;
$color4:#9bcdc3;
$color5:#f4dcc5;
$color6:#eee9e0;

// fonts
$font-primary: 'Open Sans', sans-serif;
$nav-font:"Roboto", sans-serif;