@import "../../main-css/variables.scss";
footer {
    background-color: #5ba497;
    margin-top: 5%;
}
footer img {
    margin: 0 3%;
    width: 30%;
}
footer ul {
    padding-top: 7%;
    li

    {
        display: inline-block;
        margin-left: 2%;
        width: 40px;
        border-radius: 50%;
        height: 40px;
        text-align: center;
        padding: 1.5% 1%;
        border: 1px solid #ffffff;
        background-color: #9bcdc3;
    }
}


.footer-nav
{
    margin-top: 10%;
    width: 100% !important;
    text-align: right;
}


.full-footer
{
    display: flex;
    justify-content: flex-end;
}
#basic-navbar-nav
{
    margin-left: 2%;
}
.social-icon
{
    color: #000000;
}
