@import "../../main-css/variables.scss";
footer {
    background-color: #ecf0f3; //#d4dade //#53a5eb
  

}

footer img {
    margin: 13% 3%;
    width: 50%;
}

.relatives
{
    position: relative;
}

.footer-home
{
    position: absolute;
    width: 100%;
    bottom: 0;
    width: 100%;
}

.social-media-header
{
    margin-top: 13%;
}

.social-media-header {
    margin-top: 10%;
    padding-left: 16%;
}

footer .social-media {
        text-align: center;
        width: 75%;
        margin-top: 5%;

    
    li

    {
        display: inline-block;
        margin-left: 7%;
        width: 40px;
        border-radius: 50%;
        height: 40px;
        text-align: center;
        padding: 3.5% 1%;
        border: 1px solid #ffffff;
        background-color: black;
        transition: 0.6s ease-in-out;
    }
}

.contact
{
    margin-top: 10%;
    width: 70%;
    text-align: center;
    list-style-type: none;
    h5
    {
        width: 84%;
    }
    
    li
    {
        padding: 4%;
        text-align: left;
        margin-left: 23%;
    }
    i
    {
        padding-right: 6%;
        font-size: 15px;
    }
}

.social-icon:hover
{
    color: #366db0;;
}

.footer-nav
{
    margin-top: 10%;
    width: 100% !important;
    text-align: right;
}

.full-footer {
    display: flex;
    justify-content: flex-end;
}

#basic-navbar-nav {
    margin-left: 2%;
}

.social-icon
{
    transition: 0.3s ease-in;
    color: #ecf0f3;
}

